body{
    background-color: #000;
}

.screen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.controls{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    width: 60px;
    height: 25px;
}